---
layout: default
---

<div class="home">

  <div id="postCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
      {% assign has_active_item = false %}
      {% assign posts_by_date = site.posts | sort: 'date' %}

      {% for post in posts_by_date %}

        {% capture today_date %}{{ 'now' | date: "%Y-%m-%d" }}{% endcapture %}
        {% capture post_date %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}

        {% if post_date >= today_date and has_active_item == false %}
          <div class="carousel-item active">
            {% assign has_active_item = true %}
          {% else %}
            <div class="carousel-item">
          {% endif %}
            <div class="d-flex h-100 align-items-center justify-content-center">
              <div class="px-4">
                  <h3 class="pb-4">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.date | date: "%A" }} - {{ post.date | date: "%b %-d, %Y" }}
                    </a>
                  </h3>
                  {{ post.content }}
                </div>
            </div>
        </div>
      {% endfor %}
      <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#postCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>

  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
